/* home section styling */
/* .home{
    display: flex;
    /* background: url("./images/banner3.jpg") no-repeat center; */
    /* height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif; */

.home{
    color: white;
    min-height: 500px;
}

/* .max-width{
    max-width: 1300px;
     
    
}  */

.home-main{
    /* margin:190px; */
    margin-top: 200px;
}

/* .container{
    margin: 0;
    padding: 0;
} */
/* .home .max-width{
  width: 100%;
  display: flex;
} */
/* .home .max-width .row{
  margin-right: 0;
} */



.home .home-content .text-1{
    font-size: 27px;
    /* margin-top: 0px; */
    margin-top: 30px;
    align-items: center;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.resume{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    text-decoration: none;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

.profile img{
    width:240px;
    margin-left: 220px;
    border-radius:30px 60px;
    box-shadow: 0.5rem 0.5rem rgb(216, 27, 27), -0.5rem -0.5rem #ccc;
    background-color:#1e1e1f86;
    /* box-shadow: 0 8px 8px -4px lightblue; */
    /* box-shadow: 0 -5px 3px -3px rgb(25, 194, 236), 0 5px 3px -3px rgb(248, 232, 5); */
    border: 0px solid rgb(0, 0, 0);
    
    /* height:100%; */
    /* margin-bottom: 700px; */
    
}
.highlight{
    color: rgb(253, 253, 249) ;
    
}

.icon a{
    margin-right:40px;
}

/* .main{
    float:left;
} */

/* .user-img{
    width:540px;
    position:absolute;
    right:5%;
    bottom: 700px;

    
} */

/* .user-img{
    height:40%;
    width: 20%;
    border-radius: 50%;
    border: 1px solid red;
    background-color: rgba(220, 231, 229, 0.431);
    position:absolute;
    left:60%;
    bottom:30%;
} */

/* .col{
   
    float:left;

} */
/* .col p{
    color:white;
    width: 200px;
}

.con{
    padding-top: 20%;
  
}
.image{
    border: 1px solid white;
    border-radius: 80%;
    width: 500px;
    height: 540px;
    padding-bottom: 50%;
} */